@{
    ViewBag.Title = "Home Page";

}






<div class="row" id="main-background">

    <div class="col-lg-12 main-content" id="main-bar">
        HydePark
    </div>


    <div class="col-lg-2 hidden-sub-menu" id="right-box">



        <div class="col-md-12 box" id="right-box1"><h4>Calendar</h4> example1</div>


        <div class="col-md-12 box2" id="right-box2"><h4>Nieuws</h4> example2</div>


        <div class="col-md-12 box3" id="right-box3"><h4>Vakantie</h4> example3</div>


        <div class="col-md-12 box4" id="right-box4"><h4>Verjaardag</h4> example4</div>

    </div>
</div>


