body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
    max-height:25px;
}
.navbar-default
{
    background: none;
    border: none;
}
#header
{
   color: white;
   font-family: Tahoma;
   font-size: 1.8em;
   text-align:center;
   text-transform: capitalize;

}
#logo
{
    width: 20%;
    text-align:center;
    padding-top:10px;
   
}


#top-menu
{
    float:right;
    width: 80%;
    color:#6E7783;
}
#top-menu a:hover, a:active
{
    color: #2ea3f3;
}

.menu
{
    width:100%;

}
.menu li
{
    min-width: 15%;
    text-align: center;
    padding-top:15px;
    
}
.menu a
{
    font-family: Tahoma;
    font-size: 1.5em;
    color: #2ea3f3;
}

.sub-menu 
{
    background: #2ea3f3;
    height: 20px;
    font-family: Tahoma;
    font-size: 1em;
    color: white;
     display: flex;
    
}
.sub-menu a
{
    color:white;
    text-decoration:none;
}
.sub-menu a:hover, a:active
{
    text-decoration:none;
  
}
.content
{
   
    margin-top: 100px;
   
}
.main-content
{
    text-align: center;
   box-shadow: 5px 5px 10px grey;
   overflow: hidden;
    
}
#breadcrumbs
{
    padding-bottom: 5px;
}
#breadcrumbs a
{
    color:#6E7783;
    font-family:Tahoma;
    margin-left: 10px;
    text-decoration:none;
}
#breadcrumbs a:hover
{
    text-decoration:none;
}
footer
{
    background: #2ea3f3;
    height: 25px;
    font-family:Tahoma;
    font-size:1em;
    color:white;
    padding-left:10px;
}
#top-container
{
    /*position: fixed;*/
    z-index:5;
    background:white;
   
    
}
.container a:active
{
  
     color: #2ea3f3;
    
}
.box, .box2, .box3, .box4
{
    padding:0.5px;
    border-radius:10px;
    background-color:white;
    box-shadow: 5px 5px 10px grey;
    

}
h4 
{
    padding: 5px;
    margin: 0px;
    border-radius: 10px 10px 0 0;
    color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+99;Grey+3D+%231 */
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cedce7 0%,#596a72 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse 
{
    border-color: #ffffff;
}
#nieuws-sub-menu
{
  
    padding-left:24%;
}
#organisatie-sub-menu 
{
     padding-left:24%;
}
#veiligheid-sub-menu
{
    padding-left:23%;
}
#medewerkers-sub-menu
{
     padding-left:24%;
}
#formulieren-sub-menu
{
     padding-left: 25%;
     text-align: left;
}
#chat-sub-menu
{
    padding-left: 25%;
    text-align: left;
   
}
#right-box
{
    padding-left: 10px;
    padding-right: 15px;
   
}
 #right-box2, #right-box3, #right-box4
{
    margin-bottom:50px;
    margin-top:40px;
    text-decoration:none;
}
#right-box1
 {
     margin-bottom:50px;
     text-decoration:none;
 }

#right-arrow
{
    text-align:right;
    margin-right:5px;
    padding-top:5px;
}

#left-arrow
{
    text-align:right;
    margin-right:5px;
     padding-top:5px;
}
#ways
{
    padding-top:5px;
    padding-left: 20px;
}
.show-sub-menu
{
    display:inline-block;
  
}
.hidden-sub-menu
{
    display:none;
   
}
#margin-menu
{
     padding-left:9%;
     padding-right:10%;
      display: flex;
      width:100%;
}
#top-margin-tools
{
     
     width:100%;
}
#days
{
    width:30%;
}
#Hour
{
    width:10%;
}
#name
{
    text-align:left;
    float:left;
    width: 20%;
}
#name a
{
    color: white;
    text-decoration:none;
}
#name a:hover
{
    text-decoration:none;
    
}
#options
{
    text-align: center;
    width:10%;
}
#search
{
   text-align:center;
   padding-top:2px;
   width:30%;

}
#options a, #search a
{
    color:white;
}
#nieuws-top-menu
{
    width:10%;
}
#organisatie-top-menu
{
    width:10%;
}
#veiligheid-top-menu
{
    width:10%;
}
#medewerkers-top-menu
{
    width:10%;
}
#formulieren-top-menu
{
    width:10%;
}
#chat-top-menu
{
    width:10%;
}
.body-content
{
    background-color:#F7F7F7;
    padding-bottom:15px;
}
.options-submenu
{
    height:20px;
    text-align: center;
}
.navbar-inverse {
  background-color: #2ea3f3;
  /*border-color: #080808;*/
}
@media (min-width: 1200px){
.container {
    max-width: 1270px;
}}
#main-background
{
    min-height:400px;
}
.container
{
   position: relative;
    width: 100%;
    overflow: hidden;
}